{{/* 
  Custom homepage layout for CleanWhite 
  Fixes full-width issue by using expected layout classes 
*/}}

{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="posts">
        {{ range .Site.RegularPages.ByDate.Reverse }}
          <article class="post-preview">
            <h2 class="post-title">
              <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h2>
            {{ with .Date }}
              <div class="post-meta">{{ .Format "2006-01-02" }}</div>
            {{ end }}
            <div class="post-summary">
              {{ if .Summary }}
                {{ .Summary }}
              {{ else }}
                {{ .Plain | truncate 200 }}
              {{ end }}
            </div>
            <p><a class="read-more" href="{{ .RelPermalink }}">Read more →</a></p>
            <hr>
          </article>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}